.header1{
    width: auto;
    height: 700px;
    left: 0px;
    top: 0px;

    background: #EEEFF1;;
}

.div1{
    position: absolute;
    width: 84px;
    height: 16px;
    left: 399px;
    top: 79px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;

    color: #34547A;
}

.div2{
    position: absolute;
    width: 100px;
    height: 16px;
    left: 525px;
    top: 79px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;

    color: #000000;
}

.div3{
    position: absolute;
    width: 74px;
    height: 16px;
    left: 667px;
    top: 79px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;

    color: #000000;
}

.div4{
    position: absolute;
    width: 86px;
    height: 16px;
    left: 783px;
    top: 79px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;

    color: #000000;
}

.div5{
    position: absolute;
    width: 99px;
    height: 16px;
    left: 911px;
    top: 79px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;

    color: #000000;
}

.title1{
    position: absolute;
    width: 541px;
    height: 45px;
    left: 399px;
    top: 257px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;

    color: #000000;
}

.text1{
    position: absolute;
    width: 540px;
    height: 67px;
    left: 400px;
    top: 362px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #727272;
}

.knopka{
    position: absolute;
    width: 225px;
    height: 65px;
    left: 399px;
    top: 494px;
    background: #34547A;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #FFFFFF; 
}

.title2{
    position: absolute;
    width: 403px;
    height: 30px;
    left: 758px;
    top: 812px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;

    color: #000000;
}

.text2{
    position: absolute;
    width: 540px;
    height: 67px;
    left: 690px;
    top: 892px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #727272;
}

.section2{
    width: auto;
    height: 250px;
    left: 0px;
    margin-top: 359px;

    background: #34547A;
}

.img1{
    display: inline;
    width: 50px;
    height: 50px;
    margin-left: 409px;
    margin-top: 100px;
}

.forty1{
    display: inline;
    position: absolute;
    width: 36px;
    height: 19px;
    margin-left: 20px;
    margin-top: 103px;
    margin-bottom: 128px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    color: hsl(0, 0%, 100%);
}

.project1{
    display: inline;
    position: absolute;
    width: 71px;
    height: 15px;
    margin-left: 20px;
    margin-top: 132px;
    margin-bottom: 103px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #FFFFFF;
}

.img2{
    display: inline;
    width: 50px;
    height: 50px;
    margin-left: 140px;
    margin-top: 100px;
}

.section3{
    width: auto;
    height: 1004px;
    left: 0px;
    top: 1309px;

    background: #EEEFF1;
}

.title3{
    position: absolute;
    width: 403px;
    height: 30px;
    left: 758px;
    margin-top: 100px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;

    color: #000000;

}

.text3{
    position: absolute;
    width: 540px;
    height: 67px;
    left: 690px;
    margin-top: 180px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #727272;
}

.img7{
    position: absolute;
    width: 1110px;
    height: 600px;
    left: 405px;
    margin-top: 304px;
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
}

.footer{
    width: auto;
    height: 151px;
    left: 0px;
    top: 2313px;

    background: #34547A;
}

.text_footer{
    position: absolute;
    width: 130px;
    height: 19px;
    left: 406px;
    margin-top: 50px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;

    color: #FFFFFF;
}

.text_footer2{
    position: absolute;
    width: 193px;
    height: 12px;
    left: 406px;
    margin-top: 89px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;

    color: #FFFFFF;
}